{% extends 'admin_manage/adm/base.html' %}

{% block body_content %}

<div class="row my-5 d-flex justify-content-center">
    <div class="col-6 p-3 bg-white shadow-sm">
        <h1 class="fw-bold text-center text-secondary">Add Offer</h1>
        <hr>
        {% if form.errors %}
            {% for message in form.errors %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
        <div class="card p-2">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                  <label>Product</label>
                  {{ form.product }}
                </div>
                <div class="form-group">
                  <label>Discount Type</label>
                  {{ form.discount_type }}
                </div>
                <div class="form-group">
                  <label>Discount Value</label>
                  {{ form.discount_value }}
                </div>
                <div class="form-group">
                  <label>Start From</label>
                  {{ form.start_date }}
                </div>
                <div class="form-group">
                  <label>Ends On</label>
                  {{ form.end_date }}
                </div>
                <div class="form-group text-end">
                  <input type="submit" class="btn btn-outline-success" value="Add Offer">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}