{% extends 'admin_manage/adm/base.html' %}
{% load humanize %}

{% block body_content %}

    <div class="container-fluid p-2 my-3">
        <h2 class="fw-bold text-center">Dashboard</h2>
        <hr>
        <div class="row m-0">

            <div class="col-md-4 box-element my-1">
                <div class="bg-white rounded d-block shadow-sm d-flex align-items-center justify-content-center" style="height: 150px;">
                    <i class="fa-solid fa-users fs-2 me-2"></i>
                    <h1 class="fw-bold">Customers: <span class="text-secondary fs-2">{{ customers }}</span></h1>
                </div>
            </div>

            <div class="col-md-4 box-element my-1">
                <div class="bg-white rounded d-block shadow-sm d-flex align-items-center justify-content-center" style="height: 150px;">
                    <i class="fa-solid fa-users fs-2 me-2"></i>
                    <h1 class="fw-bold">Products: <span class="text-secondary fs-2">{{ products }}</span></h1>
                </div>
            </div>

            <div class="col-md-4 box-element my-1">
                <div class="bg-white rounded d-block shadow-sm d-flex align-items-center justify-content-center" style="height: 150px;">
                    <i class="fa-solid fa-users fs-2 me-2"></i>
                    <h1 class="fw-bold">Categories: <span class="text-secondary fs-2">{{ categories }}</span></h1>
                </div>
            </div>

            <div class="col-md-4 box-element my-1">
                <div class="bg-white rounded d-block shadow-sm d-flex align-items-center justify-content-center" style="height: 150px;">
                    <i class="fa-solid fa-users fs-2 me-2"></i>
                    <h1 class="fw-bold">Sub-Categories: <span class="text-secondary fs-2">{{ subcategories }}</span></h1>
                </div>
            </div>

            <div class="col-md-4 box-element my-1">
                <div class="bg-white rounded d-block shadow-sm d-flex align-items-center justify-content-center" style="height: 150px;">
                    <i class="fa-solid fa-users fs-2 me-2"></i>
                    <h1 class="fw-bold">Brands: <span class="text-secondary fs-2">{{ brands }}</span></h1>
                </div>
            </div>

            <div class="col-md-4 box-element my-1">
                <div class="bg-white rounded d-block shadow-sm d-flex align-items-center justify-content-center" style="height: 150px;">
                    <i class="fa-solid fa-users fs-2 me-2"></i>
                    <h1 class="fw-bold">Orders: <span class="text-secondary fs-2">{{ orders.count }}</span></h1>
                </div>
            </div>


        </div>
    </div>

    <div class="mx-3 bg-white rounded shadow-sm p-3 my-2">
        <h3 class="fw-bold text-center">Recent Orders</h3>
        <hr>
        <table class="table table-bordered text-center">
            <tr>
                <th>Sl No</th>
                <th>Customer Name</th>
                <th>Order ID</th>
                <th>Order Status</th>
                <th>Total</th>
                <th>Payment Status</th>
                <th>View</th>
            </tr>
            {% for order in orders %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ order.address.full_name }}</td>
                <td>{{ order.id }}</td>
                <td>{{ order.status }}</td>
                <td>${{ order.paid_amount|floatformat:2 }}</td>
                <td>{{ order.pay_method }}</td>
                <td><a href="{% url 'orderDetail' order.id %}" class="btn btn-primary">View</a> </td>
            </tr>
            {% endfor %}

        </table>
    </div>


    <div class="container-fluid p-2 my-3">
        <p class="fw-bold fs-3 text-center">Banners</p>
        <hr>
        <div class="row m-0">

            {% if banners %}

                <div class="col-md-4 box-element my-1">
                    <div class="d-block shadow-sm d-flex align-items-center justify-content-center">
                        <img class="rounded shadow-sm" src="{{ banners.bm_1.url }}" alt="Banner-1" style="height: 150px; width: 100%;">
                    </div>
                </div>

                <div class="col-md-4 box-element my-1">
                    <div class="d-block shadow-sm d-flex align-items-center justify-content-center">
                        <img class="rounded shadow-sm" src="{{ banners.bm_2.url }}" alt="Banner-1" style="height: 150px; width: 100%;">
                    </div>
                </div>

                <div class="col-md-4 box-element my-1">
                    <div class="d-block shadow-sm d-flex align-items-center justify-content-center">
                        <img class="rounded shadow-sm" src="{{ banners.bm_3.url }}" alt="Banner-1" style="height: 150px; width: 100%;">
                    </div>
                </div>

                <div class="col-md-3 box-element my-1">
                    <div class="d-block shadow-sm d-flex align-items-center justify-content-center">
                        <img class="rounded shadow-sm" src="{{ banners.bm_1.url }}" alt="Banner-1" style="height: 150px; width: 100%;">
                    </div>
                </div>

                <div class="col-md-3 box-element my-1">
                    <div class="d-block shadow-sm d-flex align-items-center justify-content-center">
                        <img class="rounded shadow-sm" src="{{ banners.bm_1.url }}" alt="Banner-1" style="height: 150px; width: 100%;">
                    </div>
                </div>

                <div class="col-md-3 box-element my-1">
                    <div class="d-block shadow-sm d-flex align-items-center justify-content-center">
                        <img class="rounded shadow-sm" src="{{ banners.bm_1.url }}" alt="Banner-1" style="height: 150px; width: 100%;">
                    </div>
                </div>

                <div class="col-md-3 box-element my-1">
                    <div class="d-block shadow-sm d-flex align-items-center justify-content-center">
                        <img class="rounded shadow-sm" src="{{ banners.bm_1.url }}" alt="Banner-1" style="height: 150px; width: 100%;">
                    </div>
                </div>

            {% endif %}


        </div>
        <div class="m-2 d-flex justify-content-end">
            <button type="button" class="btn btn-outline-primary fw-bold" data-toggle="modal" data-target="#banner">Add Banners</button>
        </div>
    </div>



    <div id="sale_total" class="m-3 p-3 rounded-pill bg-secondary shadow-lg d-flex justify-content-center align-items-center">
        <p class="fw-bold fs-3 m-0">Total Sales: ${{ total_sales|floatformat:2|intcomma }}/-</p>
    </div>





<div class="modal fade" id="banner" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Add Banner</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <form method="post" action="{% url 'bannersAdd' %}" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
                  <label for="bm1">Banner-1</label>
                  <input type="file" class="form-control" id="bm1" name="bm1">
              </div>
              <div class="form-group">
                  <label for="bm2">Banner-2</label>
                  <input type="file" class="form-control" id="bm2" name="bm2">
              </div>
              <div class="form-group">
                  <label for="bm3">Banner-3</label>
                  <input type="file" class="form-control" id="bm3" name="bm3">
              </div>
              <div class="form-group">
                  <label for="bm4">Banner-4</label>
                  <input type="file" class="form-control" id="bm4" name="bm4">
              </div>
              <div class="form-group">
                  <label for="bm5">Banner-5</label>
                  <input type="file" class="form-control" id="bm5" name="bm5">
              </div>
              <div class="form-group">
                  <label for="bm6">Banner-6</label>
                  <input type="file" class="form-control" id="bm6" name="bm6">
              </div>
              <div class="form-group">
                  <label for="bm7">Banner-7</label>
                  <input type="file" class="form-control" id="bm7" name="bm7">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Add Banner</button>
              </div>
              </form>
          </div>
        </div>
  </div>
</div>

{% endblock %}


{% block style %}

    <style>
        #sale_total {
            position: fixed;
            bottom: 0;
            right: 0;
        }
    </style>

{% endblock %}