{% extends 'core/base.html' %}
{% load humanize %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row d-flex justify-content-between p-3 py-5">
            <div class="col-lg-6 col-12 my-2">
                <div class="row d-flex justify-content-center ">
                            <div class="col-12 d-flex align-item-center justify-content-center bg-white" style="overflow: hidden;">
                                <img src="{{ product.image_1.url }}" id="container" class="main-img img-fluid" style="height: 350px; width:auto; transform-origin: center center; object-fit: cover; cursor: crosshair;">
                            </div>
                            <div class="col-2 my-2 rounded px-1">
                                <img src="{{ product.image_1.url }}" class="img-fluid i1" style="height: 70px;">
                            </div>
                            <div class="col-2 my-2 rounded px-1">
                                <img src="{{ product.image_2.url }}" class="img-fluid i2" style="height: 70px;">
                            </div>
                            <div class="col-2 my-2 rounded px-1">
                                <img src="{{ product.image_3.url }}" class="img-fluid i3" style="height: 70px;">
                            </div>
                            <div class="col-2 my-2 rounded px-1">
                                <img src="{{ product.image_4.url }}" class="img-fluid i4" style="height: 70px;">
                            </div>
                </div>
            </div>

            <div class="col-lg-5 col-12 d-flex align-items-center my-2">
                <div>
                    <h3 class="fw-bold">{{ product.name }}</h3>
                    <p class="text-secondary">Brand: <img src="{{ product.brand.image.url }}" style="height: 70px; width: 70px;"></p>
                    <p class="text-secondary">Category: {{ product.subcategory.name }}</p>

                    {% if active_offers %}
                        {% for offer in active_offers %}
                            <p class="fw-bold fs-5"><del class="fs-4">₹{{ product.price|intcomma|floatformat:2 }}</del> ₹{{ product.get_discounted_price|intcomma|floatformat:2 }} <span class="alert-success px-1" style="height: 10px; font-size: 12px;">{{ offer.discount_value }}%off</span></p>
                        {% endfor %}
                    {% else %}
                        <p class="fw-bold fs-4">₹{{ product.price|intcomma }}</p>
                    {% endif %}


                    {% if product.stock > 0 %}
                        <p class="text-success fw-bold">Available</p>
                    {% else %}
                        <p class="text-danger fw-bold">Out of Stock</p>
                    {% endif %}

                    <div class="">
                        {% if product.stock > 0 %}
                            <a href="{% url 'add_to_cart' product.id %}" class="btn btn-warning">Add To Cart</a>
                        {% else %}
                            <button disabled class="btn btn-warning">Add To Cart</button>
                        {% endif %}
                            <a class="btn btn-primary" href="{% url 'add_wishlist' product.id %}">Add to Wishlist</a>
                    </div>
                    <p class="fw-bold pt-2 text-secondary">Description:</p>
                    <p class="small text-secondary">{{ product.description }}</p>
                </div>
            </div>

        </div>
    </div>

    <script>
    const container = document.getElementById("container");
    const img = document.querySelector(".main-img");

    container.addEventListener("mousemove", onZoom);
    container.addEventListener("mouseover", onZoom);
    container.addEventListener("mouseleave", offZoom);

    function onZoom(e) {
        const x = e.clientX - e.target.offsetLeft;
        const y = e.clientY - e.target.offsetTop;

        img.style.transformOrigin = `${x}px ${y}px`;
        img.style.transform = "scale(1.5)";
    }

    function offZoom(e) {
        img.style.transformOrigin = `center center`;
        img.style.transform = "scale(1)";
    }

    const thumbnail1 = document.querySelector(".i1");
    const thumbnail2 = document.querySelector(".i2");
    const thumbnail3 = document.querySelector(".i3");
    const thumbnail4 = document.querySelector(".i4");

    thumbnail1.addEventListener("click", () => updateMainImage("{{ product.image_1.url }}"));
    thumbnail2.addEventListener("click", () => updateMainImage("{{ product.image_2.url }}"));
    thumbnail3.addEventListener("click", () => updateMainImage("{{ product.image_3.url }}"));
    thumbnail4.addEventListener("click", () => updateMainImage("{{ product.image_4.url }}"));

    function updateMainImage(imageUrl) {
        const mainImage = document.querySelector(".main-img");
        mainImage.src = imageUrl;
    }
    </script>

{% endblock %}

